
.lists-style ul{
  display:grid;
 grid-template-columns:1fr 1fr 1fr;
 width:100% !important;
 background-color: transparent  !important;
 cursor:pointer;
}
.lists-style li{
  height:100% !important;
  background-color: transparent  !important;
  cursor:pointer;
}
li:hover{
  color:blue;
}

.e-list-header{
  margin-bottom: 20px;
  background-color: transparent !important;
}

.d-tree-container {
  list-style: none;
  padding: 0;
}

.d-tree-node {
  padding: 0.75rem 1.25rem;
}

.d-tree-toggler.active {
  transform: rotate(45deg);
}

.treeData{
  border:2px solid white;
  cursor:pointer;
}
.getallProductText{
  color:blue;
  cursor:pointer;
}
.getallProductText:hover{
  color:black;
}


